{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} / activity type / list{% endblock %}

 {% block opengraph_meta %}
  		{{parent()}}
		<meta property="og:title" content="RishiSatsangi.com  / Art / {{data.name}}">
		<meta property="og:description" content="{{data.description|striptags}}">
  {% endblock %} 

{% block body %}
	{{ parent() }}
    <div class="clearfix"></div>

<!-- <pre>
{{report|print_r}}
</pre> -->
		<h1>Report by Day</h1>


		{% for key, timeframe in report.timeframes %}
		
			<div class="panel panel-default">
				<div class="panel-body">
			 		<h3><span class="glyphicon glyphicon-calendar"></span> {{key|date_format("l F j, Y")}}</h3>
				</div>
			</div>
			<div class="row" >
				 <table class="table table-striped table-condensed table-hover">
				 	<thead>
			        <tr>
			          <th><span class="glyphicon glyphicon-tag"></span> <!-- Type --></th>
			          <th><span class="glyphicon glyphicon-time"></span> <!-- Time --></th>
			          <th><span class="glyphicon glyphicon-comment"></span> <!-- Note --></th>
			          <th>qty</th>
			          <th>&nbsp;</th>
			        </tr>
			      </thead>
			      <tbody>
					 {% for log in timeframe.logs %}
				      	<tr>
							 <td class="name">
							 	{{log.activity_type_id|activity_name_label(report.activity_types)|raw}}
							 </td>
							 <td class="time">
							 	 <small>{{log.date_added.date|date_format("g:i a")}}</small>
							 </td>
							 <td class="name">
							 	  <small>{{log.note}}</small>
							 </td>
							 <td class="name">
							 	<span class="badge">{{log.quantity}}</span>
							 </td>
							 <td class="time">
							 	  <a class="btn btn-xs remove" data-id="{{log.id}}">remove</a>
							 </td>
						</tr>
					 {% endfor %}
			 	   <tbody>
				</table>


				<h5>Goals</h5>
				      	<div class="container">
					 {% for goal in timeframe.goals %}
							 {{goal.activity_type_id|activity_name_label(report.activity_types)|raw}} <strong>{{goal.operator}}</strong> {{goal.occurrence}} / {{goal.timeframe}} | {{goal.occurrence_count}}
							 <br />
					 {% endfor %}
						</div>

				<h5>Occurrence</h5>
				      	<div class="container">
					 {% for key,log in timeframe.occurrence %}
							 {{key|activity_name_label(report.activity_types)|raw}} <span class="badge">{{log}}</span>
							 <br />
					 {% endfor %}
						</div>


				<h5>Quantity</h5>
				      	<div class="container">
					 {% for key,log in timeframe.quantity %}
							 {{key|activity_name_label(report.activity_types)|raw}} <span class="badge">{{log}}</span>
							 <br />
					 {% endfor %}
						</div>		


				<h5>Polarity</h5>
				      	<div class="container">
					 {% for key,log in timeframe.polarity %}
							 <span class="label label-{%if key=="good" %}success{%else%}danger{%endif%}">{{key}}</span> <span class="badge">{{log}}</span>
							 <br />
					 {% endfor %}
						</div>				
			</div>
			<hr />
			<br /><br />
		{% endfor %}

		<div class="panel panel-default">
			<div class="panel-body">
				<strong>Summary</strong><br />
				{{report.date_range.start_date.date|date_format("l F j, Y")}} - {{report.date_range.end_date.date|date_format("l F j, Y")}}
				<br />
				<table class="table table-striped table-condensed table-hover">
				 	<thead>
			        <tr>
			          <th>&nbsp</th>
			          <th>Quantity</th>
			          <th>Occurrence</th>
			        </tr>
			      </thead>
			      <tbody>
					{% for key, type in report.activity_types %}
						
						<tr>
							 <td>
							 	 <small>{{key|activity_name_label(report.activity_types)|raw}}</small>
							 </td>
							 <td>
							 	<span class="badge">{{type.quantity}}</span>
							 </td>
							 <td>
							 	{{type.occurrence}}
							 </td>
						</tr>
					{% endfor %}
			 	   <tbody>
				</table>
				{% for polarity,count in report.polarity %}
						 <span class="label label-{%if polarity=="good" %}success{%else%}danger{%endif%}">{{polarity}}</span> <span class="badge">{{count}}</span>
						 <br />
				 {% endfor %}
			</div>
		</div>

		<script>
			$(document).ready(function(){
				$('.remove').click(function(){
					// console.log($(this).attr('data-id'));
					var del = confirm("Really delete this activity?");
					if(del===true){
						$('#delete_activity_form #id').val($(this).attr('data-id'));
						$('#delete_activity_form').submit();
					}
				});
			});
		</script>
		<form action="/activity/delete" method="post" id="delete_activity_form" name="delete_activity_form">
			<input type="hidden" name="id" id="id" />
		</form>
{% endblock %}