{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} / activity type / list{% endblock %}

 {% block opengraph_meta %}
  		{{parent()}}
		<meta property="og:title" content="RishiSatsangi.com  / Art / {{data.name}}">
		<meta property="og:description" content="{{data.description|striptags}}">
  {% endblock %} 

{% block body %}
	{{ parent() }}
    <div class="clearfix"></div>

<!-- <pre>
{{report.ativity_types|print_r}}
</pre>

<pre>
{{report.timeframes|print_r}}
</pre> -->

		{% for key, timeframe in report.timeframes %}
			<div class="row" >
<!-- 
				<span class="label label-{%if type.polarity > 0%}success{%else%}danger{%endif%}">{{type.name}}</span> 
				<br />
				 -->
				 <h3>{{key|date_format("l F j, Y")}}</h3>
				 <h5>Logs</h5>
				 <table class="table table-striped">
				 	<thead>
			        <tr>
			          <th>Quantity</th>
			          <th>Type</th>
			          <th>Time</th>
			          <th>Note</th>
			          <th>&nbsp;</th>
			        </tr>
			      </thead>
			      <tbody>
					 {% for log in timeframe.logs %}
				      	<tr>
							 <td class="quantity">
							 	<span class="badge">{{log.quantity}}</span>
							 </td>
							 <td class="name">
							 	{{log.activity_type_id|activity_name_label(report.ativity_types)|raw}}
							 	<!-- <span class="label label-{%if log.polarity > 0%}success{%else%}danger{%endif%}">{{log.activity_type_id}}</span> -->
							 </td>
							 <td class="time">
							 	 <small>{{log.date_added|date_format("g:i:a")}}</small>
							 </td>
							 <td class="note">
							 	  <small>{{log.note}}</small>
							 </td>
							 <td class="time">
							 	  <a class="btn btn-xs remove" data-id="{{log.id}}">remove</a>
							 </td>
						</tr>
					 {% endfor %}
			 	   <tbody>
				</table>


				<h5>Occurrence</h5>
				      	<div class="container">
					 {% for key,log in timeframe.occurrence %}
							 {{key|activity_name_label(report.ativity_types)|raw}} <span class="badge">{{log}}</span>
							 <br />
					 {% endfor %}
						</div>


				<h5>Quantity</h5>
				      	<div class="container">
					 {% for key,log in timeframe.quantity %}
							 {{key|activity_name_label(report.ativity_types)|raw}} <span class="badge">{{log}}</span>
							 <br />
					 {% endfor %}
						</div>		


				<h5>Polarity</h5>
				      	<div class="container">
					 {% for key,log in timeframe.polarity %}
							 <span class="label label-{%if key=="good" %}success{%else%}danger{%endif%}">{{key}}</span> <span class="badge">{{log}}</span>
							 <br />
					 {% endfor %}
						</div>				
			</div>
			<hr />
			<br /><br />
		{% endfor %}

		<script>
			$(document).ready(function(){
				$('.remove').click(function(){
					// console.log($(this).attr('data-id'));
					var del = confirm("Really delete this activity?");
					if(del===true){
						$('#delete_activity_form #id').val($(this).attr('data-id'));
						$('#delete_activity_form').submit();
					}
				});
			});
		</script>
		<form action="/activity/delete" method="post" id="delete_activity_form" name="delete_activity_form">
			<input type="hidden" name="id" id="id" />
		</form>
{% endblock %}