{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} / activity type / list{% endblock %}

 {% block opengraph_meta %}
  		{{parent()}}
		<meta property="og:title" content="RishiSatsangi.com  / Art / {{data.name}}">
		<meta property="og:description" content="{{data.description|striptags}}">
  {% endblock %} 

{% block body %}
	{{ parent() }}
    <div class="clearfix"></div>

		<div class='row '>
			<form role="form" method="get" action="/activity/report/by/day" >
				<div class="form-group ">
					<label for="from_date">From Date</label>
					<input type="text" class="form-control" name="from_date" id="from_date" placeholder="2014-01-01" value="{{filterParams.from_date}}">
				</div>
				<div class="form-group ">
					<label for="to_date">To Date</label>
					<input type="text" class="form-control" name="to_date" id="to_date" placeholder="7" value="{{filterParams.to_date}}">
				</div>
				<div class="form-group ">
					<label for="public">Activity</label>
					
					<select class="form-control" name="activity_type_id" id="activity_type_id">
						<option value="">--All--</option>
						{%for activity in activities%}
							<option value="{{activity.id}}" {% if filterParams.activity_type_id==activity.id %}selected="selected"{% endif %}>{{activity.name}}</option>
						{%endfor%}		
					</select>
				</div>
				<div class="form-group ">
					<label for="public">Public</label>
					<input type="checkbox" class="form-control" name="public" id="public" value="1" {% if filterParams.public==1 %}checked="checked"{% endif %}>
				</div>
				
				<div class="form-group ">
					<button type="submit" class="btn btn-default">Filter</button>
				</div>
			</form>
			<br />
		</div>
		<br />
		{% for key, day in report.days %}
		
			<div class="panel panel-default">
				<div class="panel-body">
			 		<h3><span class="glyphicon glyphicon-calendar"></span> {{key|date_format("l F j, Y")}}</h3>
				</div>
			</div>
			<div class="row" >
				 <table class="table table-striped table-condensed table-hover">
				 	<thead>
			        <tr>
			          <th>&nbsp;</th>
			        </tr>
			      </thead>
			      <tbody>
					 {% for log in day.logs %}
				      	<tr>
							 <td class="recent-activity">
						 		{% if log.name=="Flickr" %}

							 		<div class="activity-stamp well">
							 			{% include 'partials/activity_report_by_day_actions.html.twig' %}
					 					<span class="activity-icon flickr"></span>
							 			<span class="date">{{log.date_added.date|date_format("g:i a")}}</span><br />
							 			<span class="user"><a href="https://www.flickr.com/photos/{{log.json_decoded.photo.owner.attributes.path_alias}}" target="_blank">@{{log.json_decoded.photo.owner.attributes.path_alias}}</a></span>
							 		</div>
							 		<div class="recent-activity-body">
							 			<a href="{{log.json_decoded.photo.urls.url}}" target="_blank"><img src="https://farm{{log.json_decoded.photo.attributes.farm}}.staticflickr.com/{{log.json_decoded.photo.attributes.server}}/{{log.json_decoded.photo.attributes.id}}_{{log.json_decoded.photo.attributes.secret}}.jpg" class="img-thumbnail"/></a>
							 			<br />
							 			{{log.json_decoded.photo.title}}<br />
							 			{% for tag in log.json_decoded.photo.tags.tag %} #{{tag}}{% endfor %}
							 			<br />
						 			</div>

						 			<!-- <pre>{{log|print_r}}</pre> -->
						 		{% elseif log.name=="Instagram" %}

							 		<div class="activity-stamp well">
							 			{% include 'partials/activity_report_by_day_actions.html.twig' %}
					 					<span class="activity-icon instagram"></span>
							 			<span class="date">{{log.date_added.date|date_format("g:i a")}}</span><br />
							 			<span class="user"><a href="http://instagram.com/{{log.json_decoded.user.username}}" target="_blank">@{{log.json_decoded.user.username}}</a></span>
							 		</div>

							 		<div class="recent-activity-body">
							 			<a href="{{log.json_decoded.link}}" target="_blank"><img src="{{log.json_decoded.images.standard_resolution.url}}" class="img-thumbnail" /></a>
							 			<br />
							 			{{log.json_decoded.caption.text}}
						 			</div>

						 			<!-- <pre>{{log.json_decoded|print_r}}</pre> -->
						 		{% elseif log.name=="Foursquare" %}

						 			<div class="activity-stamp well">
							 			{% include 'partials/activity_report_by_day_actions.html.twig' %}
					 					<span class="activity-icon foursquare"></span>
							 			<span class="date">{{log.date_added.date|date_format("g:i a")}}</span><br />
							 			<span class="user"><a href="https://foursquare.com/u/{{log.json_decoded.checkin.user.id}}" target="_blank">@{{log.json_decoded.checkin.user.firstName}} {{log.json_decoded.checkin.user.lastName}}</a></span>
							 		</div>

							 		<div class="recent-activity-body">

							 			<img src="http://maps.googleapis.com/maps/api/staticmap?center={% for addr in log.json_decoded.checkin.venue.location.formattedAddress %}{{addr}}{% endfor %}&zoom=15&size=300x225&maptype=roadmap
	&markers=color:red%7Clabel:A%7C{{log.json_decoded.checkin.venue.location.lat}},{{log.json_decoded.checkin.venue.location.lng}}" />
										<br />
							 			<a href="https://foursquare.com/v/{{log.json_decoded.checkin.venue.id}}" target="_blank">{{log.json_decoded.checkin.venue.name}}</a><br />
							 			{% for addr in log.json_decoded.checkin.venue.location.formattedAddress %}
							 				<small>{{addr}}</small><br />
							 			{% endfor %}
							 			<br />

						 			</div>
						 		{% elseif log.name=="Github" %}

							 		<div class="activity-stamp well">
							 			{% include 'partials/activity_report_by_day_actions.html.twig' %}
					 					<span class="activity-icon github"></span>
							 			<span class="date">{{log.date_added.date|date_format("g:i a")}}</span><br />
							 			<span class="user"><a href="https://github.com/{{log.json_decoded.pusher.name}}" target="_blank">@{{log.json_decoded.pusher.name}}</a></span>
							 		</div>


							 		<div class="recent-activity-body">

							 			<strong><a href="{{log.json_decoded.repository.html_url}}" target="_blank">{{log.json_decoded.repository.name}}</a></strong> (<a href="{{log.json_decoded.compare}}" target="_blank">{{log.json_decoded.after|substr(0,11)}}</a>)
							 			<br />
							 			<ul>
							 			{% for commit in log.json_decoded.commits %}
							 				<li><a href="{{commit.url}}" target="_blank">{{commit.message}}</a> - @{{commit.committer.username}}
							 				{%if commit.modified|length > 0 %}
								 				<ul>
								 					{% for file in commit.modified %}
								 						<li class="text-info">/{{file}}</li>
								 					{% endfor %}
								 				</ul>
							 				{%endif%}
							 				{%if commit.added|length > 0 %}
								 				<ul>
								 					{% for file in commit.added %}
								 						<li class="text-success">+ /{{file}}</li>
								 					{% endfor %}
								 				</ul>
							 				{%endif%}
							 				{%if commit.removed|length > 0 %}
								 				<ul>
								 					{% for file in commit.removed %}
								 						<li class="text-danger">- /{{file}}</li>
								 					{% endfor %}
								 				</ul>
							 				{%endif%}
							 				</li>

							 			{% endfor %}
							 			</ul>
						 			</div>

						 			<!-- <pre>{{log.json_decoded|print_r}}</pre> -->
						 		{% elseif log.name=="Twitter" %}
							 		<div class="activity-stamp well">
							 			{% include 'partials/activity_report_by_day_actions.html.twig' %}
					 					<span class="activity-icon twitter"></span>
							 			<span class="date">{{log.date_added.date|date_format("g:i a")}}</span><br />
							 			<span class="user"><a href="https://twitter.com/{{log.json_decoded.user.name}}" target="_blank">@{{log.json_decoded.user.name}}</a></span>
							 		</div>
							 		<div class="recent-activity-body">
							 			{{log.json_decoded.text|raw}}
							 			{% for url in log.json_decoded.entities.urls %}
							 				<br />
						 					[ <a href="{{url.expanded_url}}" />{{url.expanded_url}}</a> ]
							 			{% endfor %}
							 			{% for media in log.json_decoded.entities.media %}
							 				<br />
							 				{% if media.type=="photo" %}
							 					<img src="{{ media.media_url|strip_tags }}" class="img-thumbnail" />
							 				{% endif %}
							 			{% endfor %}
						 			</div>
						 			<!-- <small><a href="https://twitter.com/{{log.json_decoded.user.name}}" target="_blank">@{{log.json_decoded.user.name}}</a></small> -->
						 		{% elseif log.name=="Thought" %}
						 			<div class="activity-stamp well">
							 			{% include 'partials/activity_report_by_day_actions.html.twig' %}
					 					<span class="activity-icon comment"></span>
							 			<span class="date">{{log.date_added.date|date_format("g:i a")}}</span><br />
							 			<span class="user">&nbsp;</span>
							 		</div>
							 	{% else %}
							 		<div class="activity-stamp well">
							 			{% include 'partials/activity_report_by_day_actions.html.twig' %}
					 					{{log.activity_type_id|activity_name_label(report.activity_types, log.has_goal)|raw}}
							 			<span class="date">{{log.date_added.date|date_format("g:i a")}}</span><br />
							 			<span class="user">&nbsp;</a></span>

							 		</div>
						 		{% endif %}

						 		{%if log.note!="" %}
						 		<div class="recent-activity-body">
					 				<small>{{log.note}}</small>
					 			</div>
					 			{%endif%}
							 </td>
						</tr>
					 {% endfor %}
			 	   <tbody>
				</table>


				<h4>Daily Goals</h4>
				      	<div class="container">
					 {% for goal in day.goals.day %}
							 {{goal.activity_type_id|activity_name_label(report.activity_types)|raw}} 
							 {% if goal.operator=="<" %}<span class="glyphicon glyphicon-chevron-left"></span>{% elseif goal.operator=="=" %}<span class="glyphicon glyphicon-play"></span>{% elseif goal.operator==">" %}<span class="glyphicon glyphicon-chevron-right"></span>{% endif %} <strong>{{goal.occurrence}}</strong> / <strong>{{goal.timeframe}}</strong>
							 <!-- <strong>{{goal.operator}}</strong> {{goal.occurrence}} / {{goal.day}} | {{goal.occurrence_count}} -->

							 <span
								{% if (goal.operator=="<") %}{% if (goal.occurrence_count > goal.occurrence) %}class="label label-danger"{% endif %}{% endif %}
								{% if (goal.operator=="<") %}{% if (goal.occurrence_count < goal.occurrence) %}class="label label-success"{% endif %}{% endif %}
								{% if (goal.operator==">") %}{% if (goal.occurrence_count > goal.occurrence) %}class="label label-success"{% endif %}{% endif %}
								{% if (goal.operator=="=") %}{% if (goal.occurrence_count >= goal.occurrence) %}class="label label-success"{% endif %}{% endif %}
								>
								{{goal.occurrence_count}}
							</span>
							 <br />
					 {% endfor %}
						</div>

				<h4>Weekly Goals</h4>
				      	<div class="container">
					 {% for goal in day.goals.week %}
							 {{goal.activity_type_id|activity_name_label(report.activity_types)|raw}} 
							 {% if goal.operator=="<" %}<span class="glyphicon glyphicon-chevron-left"></span>{% elseif goal.operator=="=" %}<span class="glyphicon glyphicon-play"></span>{% elseif goal.operator==">" %}<span class="glyphicon glyphicon-chevron-right"></span>{% endif %} <strong>{{goal.occurrence}}</strong> / <strong>{{goal.timeframe}}</strong>

							 <span
								{% if (goal.operator=="<") %}{% if (goal.occurrence_count > goal.occurrence) %}class="label label-danger"{% endif %}{% endif %}
								{% if (goal.operator=="<") %}{% if (goal.occurrence_count < goal.occurrence) %}class="label label-success"{% endif %}{% endif %}
								{% if (goal.operator==">") %}{% if (goal.occurrence_count > goal.occurrence) %}class="label label-success"{% endif %}{% endif %}
								{% if (goal.operator=="=") %}{% if (goal.occurrence_count >= goal.occurrence) %}class="label label-success"{% endif %}{% endif %}
								>
								{{goal.occurrence_count}}
							</span>
							 <br />
					 {% endfor %}
						</div>

				<!-- <h5>Occurrence</h5>
				      	<div class="container">
					 {% for key,log in day.occurrence %}
							 {{key|activity_name_label(report.activity_types)|raw}} <span class="badge">{{log}}</span>
							 <br />
					 {% endfor %}
						</div>


				<h5>Quantity</h5>
				      	<div class="container">
					 {% for key,log in day.quantity %}
							 {{key|activity_name_label(report.activity_types)|raw}} <span class="badge">{{log}}</span>
							 <br />
					 {% endfor %}
						</div>		


				<h5>Polarity</h5>
				      	<div class="container">
					 {% for key,log in day.polarity %}
							 <span class="label label-{%if key=="good" %}success{%else%}danger{%endif%}">{{key}}</span> <span class="badge">{{log}}</span>
							 <br />
					 {% endfor %}
						</div>				 -->
			</div>
			<hr />
			<br /><br />
		{% endfor %}

		<div class="panel panel-default">
			<div class="panel-body">
				<strong>Summary</strong><br />
				{{report.date_range.start_date.date|date_format("l F j, Y")}} - {{report.date_range.end_date.date|date_format("l F j, Y")}}
				<br />
				<table class="table table-striped table-condensed table-hover">
				 	<thead>
			        <tr>
			          <th>&nbsp</th>
			          <th>Quantity</th>
			          <th>Occurrence</th>
			        </tr>
			      </thead>
			      <tbody>
					{% for key, type in report.activity_types %}
						
						<tr>
							 <td>
							 	 <small>{{key|activity_name_label(report.activity_types)|raw}}</small>
							 </td>
							 <td>
							 	<span class="badge">{{type.quantity}}</span>
							 </td>
							 <td>
							 	{{type.occurrence}}
							 </td>
						</tr>
					{% endfor %}
			 	   <tbody>
				</table>
				{% for polarity,count in report.polarity %}
						 <span class="label label-{%if polarity=="good" %}success{%else%}danger{%endif%}">{{polarity}}</span> <span class="badge">{{count}}</span>
						 <br />
				 {% endfor %}
			</div>
		</div>

		<script>
			$(document).ready(function(){
				$('.remove').click(function(){
					var del = confirm("Really delete this activity?");
					if(del===true){
						$('#delete_activity_form #id').val($(this).attr('data-id'));
						$('#delete_activity_form').submit();
					}
				});

				$('.edit').click(function(){
					document.location = "/activity/" + $(this).attr('data-id');
				});
				$('.recent-activity-body').each(function(){
					var that = $(this);

					//hashtags
					var hashtag_regexp = /#([a-zA-Z0-9]+)/g;
					that.html(
						that.html().replace(
					        hashtag_regexp,
					        '<a class="hashtag" target="_blank">#$1</a>'
				        )
				    );

					//mentions
				    var mention_regexp = /@([a-zA-Z0-9]+)/g;
					that.html(
						that.html().replace(
					        mention_regexp,
					        '<a class="mention" target="_blank" href="https://twitter.com/$1">@$1</a>'
				        )
				    );

					// links
		    		that.html(that.html().autoLink());
				});
				$('.privacy').click(function(){
					var that = $(this);
					that.attr('disabled', 'disabled');
					var span = $(this).find('span');
					var pub = that.hasClass('public');

					$.ajax({
						type: "POST",
						url: "/activity/" + $(this).attr('data-id'),
						data: {
							public : pub===true ? 0 : 1
						},
						success: function(data){
							that.removeAttr('disabled');
							if(data.data.public==1) {
								that.removeClass('btn-default').addClass('btn-success');
								that.addClass('public');
							} else {
								that.removeClass('btn-success').addClass('btn-default');
								that.removeClass('public');
							}
						},
						dataType: 'json'

					});

				});
			});
		</script>
		<form action="/activity/delete" method="post" id="delete_activity_form" name="delete_activity_form">
			<input type="hidden" name="id" id="id" />
		</form>
{% endblock %}