{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} / activity / log{% endblock %}

 {% block opengraph_meta %}
  		{{parent()}}
		<meta property="og:title" content="RishiSatsangi.com  / Art / {{data.name}}">
		<meta property="og:description" content="{{data.description|striptags}}">
  {% endblock %} 

{% block body %}
	{{ parent() }}
    <div class="clearfix"></div>
		{% for log in activity %}
			<div class="row" >
				<span class="label label-{%if log.polarity > 0%}success{%else%}danger{%endif%}">{{log.quantity}}</span> <span class="label label-default">{{log.name}}</span> <small>{{log.date_added|date_format("l F j, Y g:i:a")}}</small>
				<br />
			</div>
		{% endfor %}
{% endblock %}

