{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} / Art / {{data.gallery_name}} / {{data.name}}{% endblock %}

 {% block opengraph_meta %}
  		{{parent()}}
		<meta property="og:title" content="RishiSatsangi.com / Art / {{data.gallery_name}} / {{data.name}}">
		<meta property="og:description" content="{{data.name}}">
		<meta property="og:image" content="{{data.image_url}}">
  {% endblock %} 

{% block body %}
	{{ parent() }}
	<ol class="breadcrumb">
	  <li>Art</li>
	  <li class="active"><a href="/galleries/{{data.gallery_id}}">{{data.gallery_name}}</a></li>
	</ol>
    <h2>{{data.name}}</h2>

    {% if data.type=='image' %}
	<img src="{{data.image_url}}" class="img-responsive" >
	{% endif %}

    {% if data.type=='youtube' %}
	<img src="{{data.image_url|resizeImage(180,180)}}" class="img-rounded acb-youtube-thumb" data-youtube-link="{{data.youtube_link}}" data-title="{{data.name}}" >
	{% endif %}

	<div class="clearfix"></div>
	<br />
	<div class="row">
	  <div class="col-md-3 pull-left left  site-thumbnail">
	  	{% if data.prev %}
	  		<a href="/contents/{{data.prev.id}}" title="{{data.prev.name}}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-arrow-left"></span> prev</a>
	  		<br />
	  		<a href="/contents/{{data.prev.id}}" title="{{data.prev.name}}"><img src="{{data.prev.image_url|resizeImage(90,90)}}" class="img-rounded" ></a>
	  	{% endif %}
	  </div>
	  <div class="col-md-3 pull-right right  site-thumbnail">
	  	{% if data.next %}
	  		<a href="/contents/{{data.next.id}}" title="{{data.next.name}}" class="btn btn-default btn-xs"> next <span class="glyphicon glyphicon-arrow-right"></span></a>
	  		<br />
	  		<a href="/contents/{{data.next.id}}" title="{{data.next.name}}"><img src="{{data.next.image_url|resizeImage(90,90)}}" class="img-rounded" ></a>
	  	{% endif %}
	  </div>
	</div>

	<div class="well well-sm">
		<div class="fb-like" data-href="{{siteUrl('/contents/')}}{{data.id}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
		<a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
		<div class="g-plusone" data-annotation="inline" data-width="150"></div>
		<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-via="dethbird">Tweet</a>
	</div>

	<div class="fb-comments" data-href="{{siteUrl('/contents/')}}{{data.id}}" data-numposts="10" data-colorscheme="light" ></div>

{% endblock %}

