{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} / goal / list{% endblock %}

 {% block opengraph_meta %}
  		{{parent()}}
		<meta property="og:title" content="RishiSatsangi.com  / Art / {{data.name}}">
		<meta property="og:description" content="{{data.description|striptags}}">
  {% endblock %} 

{% block body %}
	{{ parent() }}

	<!-- {{goals|print_r}}-->
    <div class="clearfix"></div>
   <!--  <div class="row" >
    	<a href="/goals/add" class="btn btn-primary">add</a>
    	<br />
    	<br />
    </div> -->
    <!-- <h4><span class="glyphicon glyphicon-star"></span> Goals</h4> -->
    <table class="table table-striped table-hover">
	<tbody>
		{% for goal in goals %}
		<tr>
			<!-- <td align="right">
				<a class="btn btn-default btn-xs remove" href="/goals/{{goal.id}}">edit</a>
			</td> -->
			<td align="left">
				<span class="label" data-polarity-colorize="{{goal.polarity}}">{{goal.name}}</span>  {% if goal.operator=="<" %}<span class="glyphicon glyphicon-chevron-left"></span>{% elseif goal.operator=="=" %}<span class="glyphicon glyphicon-play"></span>{% elseif goal.operator==">" %}<span class="glyphicon glyphicon-chevron-right"></span>{% endif %} <strong>{{goal.occurrence}}</strong> / <strong>{{goal.timeframe}}</strong>
				<br />
			</td>
			<td>
				<span
					{% if (goal.operator=="<") %}{% if (goal.logs|length > goal.occurrence) %}class="label label-danger"{% endif %}{% endif %}
					{% if (goal.operator=="<") %}{% if (goal.logs|length < goal.occurrence) %}class="label label-success"{% endif %}{% endif %}
					{% if (goal.operator==">") %}{% if (goal.logs|length > goal.occurrence) %}class="label label-success"{% endif %}{% endif %}
					{% if (goal.operator=="=") %}{% if (goal.logs|length >= goal.occurrence) %}class="label label-success"{% endif %}{% endif %}
					>
					{{goal.logs|length}}
				</span>
			</td>
			<td><a type="button" class="btn btn-sm btn-primary" href="/activity/add/type/{{goal.activity_type_id}}"><span class="glyphicon glyphicon-time"></span> track</a></td>
		</tr>
		{% endfor %}
 	<tbody>
	</table>
{% endblock %}

